{% extends "account_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Change your password{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        </div>
    {% endfor %}
    {% endif %}
<!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/11.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>{% trans "Change password" %}</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'shop:product_list' %}">{% trans "Home" %}</a>
                            <a href="{% url 'dashboard' %}">{% trans "Dashboard" %}</a>
                            <span>{% trans "Change your password" %}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    {% if form.errors %}
    <p class='container' style='margin-top:35px; margin-bottom:35px;'>
      <strong> {% trans "Your username and password didn't match.  Please try again" %}.</strong>
    </p>
  {% else %}
    <p class='container' style='margin-top:35px; margin-bottom:35px;font-weight:bold;'>
    Use the form below to change your password. </p>
  {% endif %}
    <!-- Checkout Section Begin -->
<!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <h4>{% trans "Change your password" %}</h4>
                 <form method="post" class="order-form">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">{% trans "Change password" %}</button>

                        </form>
                    </div>
                </div>
            <div>
        </div>
    </section>

{% endblock %}
